@import ../../styles/vars

.city-weather
    color: $white
    margin-top: 28px
    display: flex
    flex-direction: column
    align-items: center
    &__main
        display: flex
        flex-direction: column
        align-items: center
        gap: 16px
    &__title
        display: flex
        flex-direction: column
        align-items: center
        gap: 16px
    &__temp
        display: flex
        align-items: center
        margin-bottom: 24px
    &__bottom
        display: flex
        flex-direction: column
        align-items: center
        gap:32px
    &__pressure
        display: flex
        align-items: center
        height: 24px
        gap: 8px
        line-height: 19.09px
        color: $white
    &__name
        font-weight: 500
        font-size: 56px
        line-height: 61.99px
    &__description
        line-height: 17.71px
    &__value
        font-weight: 600
        font-size: 129.75px
        line-height: 143.64px
        background: linear-gradient(180deg, #FFFFFF 11.65%, rgba(255, 255, 255, 0) 139.47%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    &__sunset
        color: $main-text
        line-height: 17.71px