@import ../../styles/vars

.navigation
    display: flex
    align-items: center
    justify-content: space-between
    line-height: 17.71px
    &__text
        color: $main-text
    &__button
        transition-duration: .3s
        display: flex
        align-items: center
        gap: 12px
        cursor: pointer
    &__img
        width: 24px
        height: 24px

.navigation__button:hover .navigation__text 
    color: $white
    transition-duration: .3s

.navigation__button:hover .navigation__img *
    fill: $white
    transition-duration: .3s
