@import ../../styles/vars

.search-modal
    position: absolute
    z-index: 1
    background-color: $second-bg
    display: flex
    flex-direction: column
    width: 100%
    top: 56px
    &:visited
        color: #000000
    &__item
        cursor: pointer
        padding: 20px
        &:hover
            background-color: $modal-bg
    &__name
        color: $white
        &_unactive
            color: $main-text
        
@media (max-width: $mobile)
    .search-modal
        width: calc(100% + 40px)
