@import ../../styles/vars

.search-modal
    position: absolute
    z-index: 1
    background-color: $second-bg
    color: $white
    display: flex
    flex-direction: column
    width: 100%
    top: 56px
    &:visited
        color: #000000
    &__name
    &__item
        cursor: pointer
        padding: 20px
        &:hover
            background-color: $modal-bg
        