@import styles/vars

.App
    background-color:$main-bg
    position: relative
    box-sizing: border-box
    width: 100%
    min-height: 100vh
    height: 100%

a
    text-decoration: none
    color: inherit

p
    margin: 0
